* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", 'Roboto, Ubuntu', 'sans-serif'
}

body {
    background-color: black;
}

.main {
    background-image: url(assests/images/bgimg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 110vw);
    position: relative;
    height: 80vh;

}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.48;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    margin: auto;

}

nav img {
    width: 135px;
    position: relative;
    z-index: 10;
    color: red;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: calc(100% - 85px);
    position: relative;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", 'Roboto, Ubuntu', 'sans-serif';
    gap: 21px;
    padding: 0px 23px;
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 700;
    text-align: center;

}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;


}

.line {
    height: 7px;
    background-color: #4d4d4d;
    position: relative;
    z-index: 10;
}

.btn {
    padding: 4px 35px;
    background-color: rgba(0, 0, 0, 0.394);
    color: white;
    /* all --> specially english */
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgba(161, 159, 159, 0.595);
    border-radius: 4px;
    cursor: pointer;

}

.btn-red-sm {
    padding: 5px 18px;
    background-color: red;
    color: white;
    /* sign in */
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-left: 20px;

}

.hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red {
    background-color: red;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    /* get started */
    font-weight: 500;
    font-size: 24px;
    margin-left: 7px;

}

.main input {
    color: white;
    padding: 22px 100px 22px 25px;
    /*input  */
    font-size: 15px;
    background-color: rgba(23, 23, 23, 0.69);
    border: 1px solid rgba(253, 250, 250, 0.523);
    border-radius: 4px;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;

}

.secimg {
    position: relative;

}

.secimg img {
    width: 550px;
    position: relative;
    z-index: 10;


}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 550px;


}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
    height : 460px;
    
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: 700;
}

section.first>div :nth-child(2) {
    font-size: 24px;

}

.second.secimg {
    overflow: hidden;
}

.first.second .secimg video {
    width: 321px;
    z-index: 7;
    left: 113px;
    top: 82px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.faq {
    color: white;
    background-color: black;
}

.faqbox:hover {
    background-color: #535353;
    transition: all 0.4s ease-out;
}

.faqbox.faq1 {
    margin-top: 24px;
}

.faqbox.faqlast {
    margin-bottom: 24px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: auto auto 8px auto;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 24px;
}



@media screen and (max-width: 960px) {
    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 250px;
    }

    .secimg video {
        width: 250px;
    }

    .first.second .secimg video {
        width: 154px;
        z-index: 7;
        left: 50px;
        top: 55px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    nav {
        max-width: 100vw;
        gap: 90px;
    }

    .btn {
        padding: 3px 17px;
        margin: 0px 15px;
    }

.faq h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
section.first>div :nth-child(1) {
    font-size: 32px;
    font-weight: 700;
}
.main input {
    padding: 13px 16px 13px 16px;
}
    section.first>div {
   
    height : 230px;
    
}

}

@media screen and (max-width: 960px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
    }
}

footer .ques {
    padding: 34px 0px;
}

.footer a {
    color: #cac9c9;
    font-size: 14px;
    cursor: pointer;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
